* {
    font-family: Inter;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-family: Inter;
    max-width: 1200px;
}

.nav__links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 300px;
}

.nav__link{
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    padding-top: 4px;
    border-bottom: 2px solid transparent;
    transition: all 300ms;
    margin: 0 24px;
    text-decoration: none;
    align-items: center;
    display: flex;
    position: relative;
}

.nav__link:after{
    content: "";
    position:absolute;
    height: 3px;
    background-color: #6415ff;
    width: 0;
    bottom: -5px;
    right: 0;
    transition: all 400ms ease;
}

.nav__link:hover:after{
    width: 100%;
    left: 0;
}

.submit {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    margin: 0px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 24px;
    text-decoration: none;
    border-color: transparent;
    width: 130px;  
}

.login {
    padding: 0px 0px 4px;
    margin: 0px 24px 0px 72px;
}
.enter {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    margin: 8px 0px;
    width:200px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 500px;
    text-decoration: none;
    border-color: transparent;
    position: relative;
    left: 47%; 
}

.develop, .dev__button {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    margin: 8px 0px;
    width:200px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 500px;
    text-decoration: none;
    border-color: transparent;
}

.logo {
width: 150px;
}

.logo__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__strip {
    margin-top: 12px;
    height: auto;
    width: 400px;
}

.customers {
    font-family: Inter;
    font-size: 16px;
    margin: 72px 0px 0px 0px;
    color: lightgray;
}

button:hover {
    background-color:darkblue;
    transition-duration: 300ms;
    border-width: 0;
   }

.opening {
    padding: 96px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: center;
}

h1 {
    font-size: 48px;
    margin: 16px 0px 8px 0px;
}

p {
    font-size: 16px;
    color: #243e63;
    font-weight: 400;
    margin: 32px 0px;
}

span {
    color: #6415ff;
    padding-left: 8px;
    }

input {
    width: max-content;
    height:auto;
    padding: 20px 192px 20px 32px;
    max-width: 7000px;
    border-radius: 9999px;
    border: solid gray;
    border-width: 2px;
    background-color: rbg(255, 255, 255);
    border-color: rbg(226, 232, 240);
    font-size: 16px;
    position: absolute; 
}

.open-img {
    max-width: 512px;
    width: 100%;
    display: flex;
}

.features {
    padding: 80px;
}

.feature__title, .price__title {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;

}

.feature__head, .price__head {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.description {
    color: #7c8ba1;
    font-size: 16px;
    text-align: left;
}

.price__body, .feature__body {
    color: #7c8ba1;
    font-size: 16px;
    text-align: center;
    max-width: 40rem;
    padding: 0px 280px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.title, .test__title {
    font-size: 24px;
    color: #243e63;
    font-weight: bold;
    margin-top: 16px;
}

.image__description {
    width: 24px;
}

.description {
    display: flex;
    color: gray;
    }

.text__wrapper {
    box-sizing: border-box;
    flex-direction: column;
    width: calc(100%/3);
}

.service__wrapper {
    width: calc(100%/3);
}

.service {
    padding: 32px 24px;
}

.quality__title, .values__title, .step__title, .tests__title {
    color: #6415ff;
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
}

.quality__header, .values__header, .test__header, .steps__header {
    font-size: 56px;
    font-weight: 700;
    margin: 8px 0px 0px 32px;
    width: 60%;
}

.quality__description, .values__descriprion, .test__description, .test__paragraph {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 8px 0px 16px 32px;
    width: 60%;
    font-size: 18px;
}

.screenshot {
    width: 40%;
    height: 300px;
    display: flex;
    vertical-align: middle;
    margin: 80px 52px 0px 0px;
    border: solid 1px;
}

.quality__wrapper, .values__wrapper {
    display: flex;
    flex-direction: column;
}

.learn {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    margin-right: 500px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 24px;
    text-decoration: none;
    border-color: transparent;
    width: 160px;  
}

.learn:hover {
    background-color:darkblue;
    transition-duration: 300ms;
    border-width: 0;
   }

.container {
    display: flex;
    margin-bottom: 96px;
}

.easy__container {
    display: flex;
}

.steps__header{
    width: 550px;
    margin: 0px;
}

.steps__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.laptop {
    width: 600px;
    vertical-align: middle;
    margin: 100px 72px 0px 28px; 
}

.full__step {
    display: flex;
}

.stepper {
    margin: 0px 50px 0px 0px;
}

.steps__no {
    font-size: 32px;
    color: lightgray;
    font-weight: bold;
    margin: 45px 30px;
}

.values__header {
    width: 500px;
}

.values {
    padding-top: 96px;
}

.values__descriprion {
    text-align: left;
    margin: 8px 0px 16px 32px;
}

.aff__img {
    width: 30px;
}

.idk {
    display: flex;
}

.values_icon {
    width: 50%;
    height: 400px;
    display: flex;
    vertical-align: middle;
    margin: 16px 16px 0px 0px;
}

h6 {
    font-size: 20px;
    margin: 48px 0px 16px 0px;
}

.price__wrapper {
    margin: 96px 0 96px 0;
}
.three__plans {
    display: flex;
    flex-direction: column;
    border:#7c8ba1 solid 1px;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.threeplan__features {
    display: flex;
    flex-direction: column;
    border: #7c8ba1 solid 1px;
    align-items: center;
}

.buy__one {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 32px;
    margin: 16px 100px;
    width: 125px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.buy__one:hover {
    transition-duration: 300ms;
    border-width: 0;
    cursor: pointer;
   }

.buy__two:hover {
    background-color:rgb(227, 227, 237);
    transition-duration: 300ms;
    border-width: 0;
    cursor: pointer;
   }

.buy__two {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 32px;
    margin: 16px 100px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-color: white
}

.buy__three {
    color: white;
    display: flex;
    width: 125px;
    padding: 16px 32px;
    margin: 16px 100px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.buy__three:hover {
    transition-duration: 300ms;
    border-width: 0;
    cursor: pointer;
   }

.all__three {
    display: flex;
    justify-content: space-around;
    margin: 0px 96px;
   }

.b__feat {
    color: white;
   }

.Personal {
    border: 2px 0px 2px 0px;
    margin: 0px 48px;
    }

.Enterprise{
    margin: 0px 48px;
}

.feature, .main__feature {
    margin: 16px 60px;
    text-align: center;
    width: 200px;
}

.main__feature{
    font-weight: bold;
}

.maybe {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.price, .duration, .feature, .main__feature, .name {
    color:#000;
}

.name, .price, .duration {
    margin: 12px 0px;
    text-align: center;
}

.name {
    font-size: 20px;
}

.price {
    font-size: 48px;
}

.duration {
    font-size: 16px;
}

.price__button {
    border:#7c8ba1 solid 1px;
    align-items: center;
}

.sploosh {
    padding-bottom: 96px;
}

.testimonials {
    display: flex;
    padding: 96px 0px 300px 0px; 
}

.test__img {
    width:560px;
    height: 400px;
    margin: 100px 0px 0px 12px;
}

.test__description {
    width: 500px;
}

.test__title {
    padding: 0px 140px 0px 0px;
}

.star {
    width: 100px;
    height:20px;
    padding: 0px 340px 0px 0px;
}

.test__header {
    width: 600px;
}



.person {
    width: 250px;
    padding-right: 30px;
}

.test__button {
    border-radius: 9999px;
    width:60px;
    height: 60px;
    margin: 10px 8px 0px 0px;
}

.testimonial__buttons {
    display:flex
    
}

.developers {
    color: #f7fafc;
    font-size: 32px;
    padding: 60px;
}

.development {
    display: flex;
    margin-bottom: 300px;
    background-color: rgb(100 21 255);
}

.develop {
    background-color: orangered;
    margin: 80px 30px;
    
}

.dev__button {
    border: solid 2px #f7fafc;
    margin: 80px 30px;
    background-color:  rgb(100 21 255);
}

.develop__buttons {
    display: flex;
}

.dev__button:hover {
background-color: white;
color:#6415ff;
}

.develop:hover {
    background-color: #f56565;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    background-color: rgb(100 21 255);
}

.links {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 48px;
}

.link__head {
    text-align: center;
}

.link__list {
    display: flex;
    flex-direction: column; 
    align-items:start;
    justify-content: center;
}

.link__item {
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
    color: white;
}

.link__item:hover {
    cursor: pointer;
    border-bottom-width: 2px;
    border-bottom: solid;
    color: white;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.border {
    color: rgba(174, 188, 190, 0.5);
    font-size: bold;
    margin: 100px 0px 0px 0px;
}

.last__bit {
    display: flex;
    color: white;
}

.last__logo {
    margin: 100px 250px 50px 0px;
    font-size: 20px;
}

.copyright {
    margin: 100px 250px 50px 100px;
    font-size: 14px;
    text-align: center;
}

.social__media {
    display: flex;
    margin: 70px 0px 0px 0px;
}

.facebook {
    border-radius: 9999px;
    margin: 8px 0px 8px 20px;
    width: 56px;
    }

.twitter {
    margin: 8px 0px 8px 10px;
    border-radius: 9999px;
    width: 56px;
}

.youtube {
    margin: 8px 0px 8px 10px;
    border-radius: 9999px;
    width: 56px;
}

@media (max-width: 728px) {
    
.nav__links, .submit {
    display:none;
}

.open-img {
    display:none;
    }

.the__header, .feature__head {
    flex-direction: column;
    width: 60%;
    font-size: 32px;
    text-align: center;
    padding-left: 50px;
}

.subheader__description {
    flex-direction: column;
    width: 60%;
    text-align: center;
    padding-left: 50px;
}

.feature__body {
    flex-direction: column;
    width: 60%;
    text-align: center;
    padding: 0px 80px;
}

.email {
    width: 100%;
    max-width: 448px;
    position: relative;
    left: 15%;
    margin: 0px;
    padding: 0px;
}

.enter{
    margin: 80px 0px 0px 0px;
    width: 350px;
    position: absolute;
    left: 15%;
}

.customers {
    font-size: 12px;
    padding: 96px 0px 0px 50px;
    }

.logo__strip {
    width: 300px;
    }

.feature__title {
    max-width: 450px;
}

.feature__head {
    padding-right: 0px;
}

.feature__body {
    max-width: 300px;
    padding-left: 60px;
}

.service__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 100px;
}

.description{
    text-align: center;
}

.quality__title, .step__title, .tests__title {
    text-align: center; 
    padding: 0px;
}

.quality__header, .test__header {
    flex-direction: column;
    width: 90%;
    font-size: 32px;
    text-align: center; 
    padding: 12px 0px 32px 0px;
}

.quality__description, .values__descriprion, .price__body {
    padding: 12px 150px 32px 70px;
    text-align: center;
}

.learn{
    width: 300px;
    margin: 12px 10px 32px 50px;
}


.container {
    display: flex;
    flex-direction: column-reverse;
}

.screenshot{
    width: 400px;
    height:100px
    padding: 50px;
    margin: 0px 0px 56px 5px;
}

.laptop {
    display: none;   
}

.step__title{
    padding-right: 200px;
}

.steps__title {
    padding: 0px 96px 0px 0px;
}

.steps__header{
    font-size: 32px;
    padding-left: 70px;
}

.values{
    width: 60%;
    max-width: 400px;
}

.price__body {
    padding-left:60px;
    width: 70%;
    max-width: 450px;
}

.Personal, .Enterprise, .maybe {
    margin: 32px 50px 32px 0px;
}

.buy__one, .buy__two, .buy__three {
    margin-left: 65px;
}

.all__three {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.test__img {
    max-width: 400px;
    height: 300px;
}

.tests__title {
    padding: 0px 40px 0px 0px;
}

.test__header{
    width: 200px;
    max-width: 100%;
    margin: 0px 0px 0px 50px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.test__paragraph {
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 70px;
}

.test__title{
    width:300px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.border {
    display: none;
}

.last__bit {
    display: flex;
    flex-direction: column;
}

.link__item {
    padding: 10px 0px 10px 40px;
}

.last__logo{
    padding: 0px 250px;
    font-weight: 700;
}

.copyright{
    margin: 0px 40px 0px 0px;
}

.social__media{
    margin: 48px;
}

.values_icon {
    display: none;
}

.idk {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
}

.values__header, .values__descriprion, .values__title {
    text-align: center;
}

.values__header {
    padding: 0px 100px;
    font-size: 32px;
}

.values__description {
    text-align: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
}

.test__header, .price__head {
    font-size: 32px;
}

.test__header {
    padding: 0px 100px;
}

.test__title {
    padding: 0px 150px;
}

.star {
    padding: 0px 250px;
}

.testimonial__buttons {
    display: none;
}

.out {
    display: none;
}

}