* {
    font-family: Inter;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 8px;
    font-family: Inter;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 0px 8px;
    padding: 10px 0px 0px 100px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    }

.enter {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    width:160px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 500px;
    text-decoration: none;
    border-color: transparent;
    position: relative;
    left: 20%;
}

.sign__in {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 9999px;
    text-decoration: none;
    border-color: transparent;
    display: flex;
}

.input__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
width: 100px;
margin: 0px 150px 0px 0px;
}

.logo__bar {
    display: flex;
}

.logo__strip {
    margin-top: 8px;
    height: auto;
    width: 500px;
}

.customers {
    font-family: Inter;
    font-size: 16px;
    margin: 72px 0px 0px 0px;
    color: lightgray;
}

.login {
    padding: 0px 0px 4px;
    margin: 11px 24px 0px 48px;
}

li :hover {
    color: #6415ff;
    transition-duration: 300ms;
    border-bottom-width: 2px;
    border-bottom: solid;
}

button:hover {
    background-color:darkblue;
    transition-duration: 300ms;
    border-width: 0;
   }

.opening {
    padding: 96px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: center;
}

h1 {
    font-size: 48px;
    margin: 16px 0px 8px 0px;
}

p {
    font-size: 16px;
    color: #243e63;
    font-weight: 400;
    margin: 32px 0px;
}

span {
    color: #6415ff;
    padding-left: 8px;
    }

input {
    width: max-content;
    height:auto;
    padding: 20px 192px 20px 32px;
    max-width: 7000px;
    border-radius: 9999px;
    border: solid gray;
    border-width: 2px;
    background-color: rbg(255, 255, 255);
    border-color: rbg(226, 232, 240);
    font-size: 16px;
    position: absolute; 
}

.open-img {
    max-width: 1200px;
    width: 60%;
    display: flex;
}

.features {
    padding: 80px;
}

.feature__title {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;

}

.feature__head {
    font-size: 48px;
    font-weight: 700;
    text-align: center;

}

.feature__body {
    color: #7c8ba1;
    font-size: 16px;
    text-align: center;
    max-width: 40rem;
    padding: 0px 280px;
}

.services {
    display: flex;
}

.title {
    font-size: 24px;
    color: #243e63;
    font-weight: bold;
    margin-top: 16px;
}

.image__description {
    width: 24px;
}

.description {
    display: flex;
    color: gray;
    flex-direction: row;
    margin-top: 16px;
    padding: 0px 48px 0px 0px;
}

.text__wrapper {
    box-sizing: border-box;
    flex-direction: column;
    width: calc(100%/3);
}

.service__wrapper {
    margin: 36px 20px 0px 0px;
}

.quality__title {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 32px;

}

.quality__header {
    font-size: 48px;
    font-weight: 700;
    margin: 8px 0px 0px 32px;
    width: 90%;

}

.quality__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 8px 0px 16px 32px;
    width: 70%;
    font-size: 18px;
}

.screenshot {
    width: 60%;
    height: 400px;
    display: flex;
    vertical-align: middle;
    margin: 16px 16px 0px 0px;
    border: solid 1px;
    
}

.quality__wrapper {
    display: flex;
    flex-direction: column;
}

.learn {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 24px;
    margin-right: 20px;
    text-decoration: none;
    border-color: transparent;
    margin: 8px 0px 8px 32px;  
    width: 160px; 
}

.learn:hover {
    background-color:darkblue;
    transition-duration: 300ms;
    border-width: 0;
   }

.container {
    display: flex;
    margin-bottom: 96px;
}

.easy__container {
    display: flex;
}

.steps__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.laptop {
    width: 600px;
    vertical-align: middle;
    margin: 100px 72px 0px 28px; 
}

.steps__no {
    font-size: 32px;
    color: lightgray;
    font-weight: bold;
    margin: 40px 100px;

}

h6 {
    font-size: 20px;
    margin: 48px 0px 16px 0px;
}

.full__step {
    display: flex;
}

.stepper {
    margin: 0px 150px 0px 0px;
}

.price__wrapper {
    margin: 96px 0 96px 0;
}
.three__plans {
    display: flex;
    flex-direction: column;
    border:#7c8ba1 solid 1px;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.threeplan__features {
    display: flex;
    flex-direction: column;
    border: #7c8ba1 solid 1px;
    align-items: center;
}

.buy__one {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 32px;
    margin: 16px 80px;
    width: 125px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.buy__two:hover {
    background-color:rgb(227, 227, 237);
    transition-duration: 300ms;
    border-width: 0;
    cursor: pointer;
   }

.buy__two {
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 32px;
    margin: 16px 80px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-color: white
}

.buy__three {
    color: white;
    display: flex;
    width: 125px;
    padding: 16px 32px;
    margin: 16px 80px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.all__three {
    display: flex;
    justify-content: space-around;
    margin: 0px 96px;
    width: calc(100%/3);
   }

   .b__feat {
    color: white;
   }

.Personal {
    border: 2px 0px 2px 0px;
    margin: 0px 48px;
    }

.Enterprise{
    margin: 0px 48px;
}

.feature, .main__feature {
    margin: 16px 60px;
    text-align: center;
}

.main__feature{
    font-weight: bold;
}

.maybe {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.price, .duration, .feature, .main__feature, .name {
    color:#000;
}

.name, .price, .duration {
    margin: 12px 0px;
    text-align: center;
}

.name {
    font-size: 20px;
}

.price {
    font-size: 48px;
}

.duration {
    font-size: 16px;
}

.price__button {
    border:#7c8ba1 solid 1px;
    align-items: center;
}

.sploosh {
    padding-bottom: 96px;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    background-color: rgb(100 21 255);
}

.links {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    color: white;
    margin-top: 48px;
}

.link__head {
    text-align: center;
    padding: 8px;
}

.link__list {
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
    padding: 8px 0px;
    
}

.link__item {
    display: flex;
    flex-direction: column;
    margin: 8px 12px;
    color: white;
}

.link__item:hover {
    cursor: pointer;
    transition-duration: 300ms;
    border-bottom-width: 2px;
    border-bottom: solid;

}

.border {
    color: rgba(174, 188, 190, 0.5);
    font-size: bold;
    margin: 100px 0px 0px 0px;
}

.last__bit {
    display: flex;
    color: white;
}

.last__logo {
    margin: 100px 20px 50px 10px;
    font-size: 20px;
}

.copyright {
    margin: 100px 250px 50px 100px;
    font-size: 14px;
    text-align: center;
}

.social__media {
    display: flex;
    margin: 70px 0px 0px 0px;
}

.facebook {
    border-radius: 9999px;
    margin: 8px 0px;
    width: 56px;
    }

.twitter {
    margin: 8px 0px;
    border-radius: 9999px;
    width: 56px;
}

.youtube {
    margin: 8px 0px;
    border-radius: 9999px;
    width: 56px;
}

@media (max-width: 728px) {
    
ul, .sign__in {
    display:none;
}

.open-img {
    display:none;
    }

.the__header, .feature__head {
    flex-direction: column;
    width: 60%;
    font-size: 32px;
    text-align: center;
}

.subheader__description {
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.feature__body {
    flex-direction: column;
    width: 60%;
    text-align: center;
    padding: 0px 80px;
}

.input__list {
    max-width: 900px;
}

.customers {
    font-size: 12px;
}

.logo__strip {
    width: 300px;
}

.service__wrapper {
    display: flex;
    flex-direction: column;
    width:600px;
    padding: 0px ;
}

.services {
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: center;
}

.quality__title {
    padding: 0px 200px;
}

.quality__header {
    flex-direction: column;
    width: 60%;
    font-size: 32px;
    text-align: center; 
    padding: 12px 100px 32px 100px;
}

.quality__description {
    padding: 12px 100px 32px 100px;
}

.learn {
    width: 400px;
    margin: 12px 100px 32px 100px;

}

.container {
    display: flex;
    flex-direction: column;
}

.screenshot{
    width: 90%;
    padding: 50px;
}

.laptop {
    display: none;   
}

.Personal, .Enterprise {
    margin: 32px 32px 32px 0px;
}

.all__three {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.border {
    display: none;
}

.foot, .last__bit {
    display: flex;
    flex-direction: column;
}

.link__list {
    margin: 0px 100px 0px 0px;
}

.link__head {
    margin: 0px 0px 0px 64px;
}

.last__logo{
    padding: 0px 150px;
    font-weight: 700;
}

.copyright{
    margin: 0px 40px 0px 0px;
}

.social__media{
    margin: 48px;
}

}