* {
    font-family: Inter;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px 16px 32px;
    font-family: Inter;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding: 0px 0px 4px;
    margin: 0px 24px;
    align-items: center;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    }

.enter {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 24px;
    margin-right: 20px;
    text-decoration: none;
    border-color: transparent;
    position: absolute;
    left: 25.2%;
    top: 80.5%;
}

.sign__in {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 24px;
    margin-right: 20px;
    text-decoration: none;
    border-color: transparent;
    display: flex;
}

.logo__strip {
    margin-top: 8px;
    height: auto;
    width: 500px;
}

.customers {
    font-family: Inter;
    font-size: 16px;
    margin: 32px 0px 0px 0px;
    color: lightgray;
}

.login {
    padding: 0px 0px 4px;
    margin: 0px 24px 0px 48px;
}

li a:hover {
    color: #6415ff;
    transition-duration: 300ms;
    border-bottom-width: 2px;
    border-bottom: solid;
}

button :hover {
    background-color:darkblue;
    transition-duration: 300ms;
    border-width: 0;
   }

.opening {
    padding-top: 96px;
    padding-left: 32px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    width: 1000%;
    max-width: 40%;
}

h1 {
    font-size: 48px;
    margin: 16px 0px 8px 0px;
}

p {
    font-size: 16px;
    color: #243e63;
    font-weight: 400;
    margin: 32px 0px;
}

span {
    color: #6415ff;
    padding-left: 8px;
    }

input {
    width: max-content;
    height:auto;
    padding: 20px 192px 20px 32px;
    max-width: 7000px;
    border-radius: 9999px;
    border: solid gray;
    border-width: 2px;
    background-color: rbg(255, 255, 255);
    border-color: rbg(226, 232, 240);
    font-size: 16px;
    position: relative;
    
}

.open-img {
    max-width: 1200px;
    width: 40%;
    margin:auto;
    height: 400px;
    display: flex;
    padding-left: 100px;
}

.features {
    padding: 80px 0px;

}

.feature__title {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;

}

.feature__head {
    font-size: 48px;
    font-weight: 700;
    text-align: center;

}

.feature__body {
    color: #7c8ba1;
    font-size: 16px;
    width: 100%;
    max-width: 36rem;
    text-align: center;
    padding-left: 340px;

}

.services {
    display: flex;
    margin: 0px 16px 0px 16px;
    padding: 32px 8px;
}

.title {
    font-size: 24px;
    color: #243e63;
    font-weight: bold;
    margin-top: 16px;

}

.description {
    display: flex;
    color: gray;
    flex-direction: row;
    margin-top: 16px;
    padding: 0px 8px;
}

.text__wrapper {
    box-sizing: border-box;
    flex-direction: column;
    width: calc(100%/3);
}

.service__wrapper {
    padding: 0px 80px 0px 80px;

}

.quality__title {
    color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 32px;

}

.quality__header {
    font-size: 48px;
    font-weight: 700;
    margin: 8px 0px 0px 32px;
    width: 90%;

}

.quality__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 8px 0px 16px 32px;
    width: 70%;
    font-size: 18px;
}

.screenshot {
    width: 45%;
    height: 400px;
    display: flex;
    margin: 8px 32px 0px 16px;
    vertical-align: middle;
    margin: 16px 72px 0px 0px;
    border: solid 1px;
    
}

.quality__wrapper {
    display: flex;
    flex-direction: column;
}

.learn {
    font-size: 16px;
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    cursor: pointer;
    border-radius: 24px;
    margin-right: 20px;
    text-decoration: none;
    border-color: transparent;
    margin: 8px 0px 8px 32px;   
}

.container {
    display: flex;
    margin-bottom: 96px;
}

.easy__container {
    display: flex;
}

.steps__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.laptop {
    width: 600px;
    vertical-align: middle;
    margin: 100px 72px 0px 28px; 
}

.steps__no {
    font-size: 32px;
    color: lightgray;
    font-weight: bold;
    margin: 40px 16px;

}

h6 {
    font-size: 20px;
}

.full__step {
    display: flex;
}

.stepper {
    margin: 0px 48px;
}

.price__wrapper {
    margin: 96px 0 96px 0;
}
.three__plans {
    display: flex;
    flex-direction: column;
    border:#7c8ba1 solid 1px;
    align-items: center;
}

.threeplan__features {
    display: flex;
    flex-direction: column;
    border: #7c8ba1 solid 1px;
    align-items: center;
}

.buy__one {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 32px;
    margin: 16px 80px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.buy__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 32px;
    margin: 16px 80px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-color: white
}

.buy__three {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 16px 32px;
    margin: 16px 80px;
    border-radius: 9999px;
    border:#7c8ba1 solid 1px;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.all__three {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   }

   .b__feat {
    color: white;
   }

.personal {
    border: 2px 0px 2px 0px;
    margin: 0px -32px;
}

.feature, .main__feature {
    margin: 16px 60px;

}

.maybe {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.price, .duration, .feature, .main__feature, .name {
    color:#000;
}

.name, .price, .duration {
    padding: 12px 48px 8px 48px;
}

.name {
    font-size: 20px;
}

.price {
    font-size: 48px;
}

.duration {
    font-size: 16px;
}

.price__button {
    border:#7c8ba1 solid 1px;
    align-items: center;
}

.sploosh {
    padding-bottom: 96px;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    background-color: rgb(100 21 255);
}

.links {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}

.link__list {
    display: flex;
    flex-direction: column; 
}

.link__item {
    display: flex;
    flex-direction: column;
    margin: 8px;
    color: white;
}

.border {
    color: rgba(174, 188, 190, 0.5);
    font-size: bold;
}

.last__bit {
    display: flex;
}